header{
    background-color: white;
    border-bottom: 1px solid #E4E3EB;
    padding-block: 28px;
    text-align: center;
    margin-bottom: 40px;
}
.result{
    svg{
        position: relative;
        left: 0;
        cursor: pointer;
    }
    width: 100%;
    border-radius: 12px;
background: #F2F2FA;
height: 56px;
display: flex;
justify-content: space-between;
align-items: center;
padding:16px;

}
select{
    display: flex;
    gap: 8px;
}
option{
    border-radius: 30px;
    padding: 8px 16px;

font-family: FiraGO;
font-size: 12px;
font-style: normal;
font-weight: 500;

}
.photoName{
    color: #1A1A1F;
font-family: FiraGO;

font-style: normal;
font-weight: 400;

margin: 0;
}
input{
   border: 1px solid #E4E3EB;
    width: 100%;
    background-color: #FCFCFD;
}
li,small{
    color: #85858D;

font-family: FiraGO;
font-size: 12px;
font-style: normal;
font-weight: 400;

}
svg{

  margin-left: 76px;
}

input[type="file"] {
    display: none;
}
main{

display: flex;
gap: 240px;
margin-bottom: 110px;
}
input::placeholder, textarea::placeholder{
    color: #85858D;
font-family: FiraGO;
font-size: 14px;
font-style: normal;
font-weight: 400;

}
textarea{
    resize: none;
    border-radius: 12px;
border: 1px solid #E4E3EB;
background: #FCFCFD;
}

.dropzone{
    width: 100%;
    border-radius: 12px;
border:  dashed 1px #85858D;
background: #F4F3FF;
height: 180px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 24px;
img{
    width: 40px;
height: 40px;

}
    p{
        color: #1A1A1F;
       
        font-size: 14px;
            font-weight: 400;
        
    label{
        cursor: pointer;
        color: #1A1A1F;
       
        font-size: 14px;
            font-weight: 500;
        
        text-decoration-line: underline;
    }
  }
}
button{
    float: right;
    display: flex;
    width: 288px;
    padding: 10px 20px;
    color: white;

    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #5D37F3;
    gap: 10px;
   
    font-size: 14px;
    font-weight: 500;
    
    &:disabled{
        background-color: #E4E3EB;
        outline: none;
        border: none;
    }
}

form{
    margin-block:40px;
    width: 600px;

}
.wrapper{
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
label{
    margin-bottom: 8px;
}


textarea{
    width: 600px;
    height: 124px;
    margin-bottom: 8px;
}
ul{
    margin-top: 8px;
}


  
small{
    span{
        color: #EA1919;
font-family: FiraGO;
font-size: 12px;
font-style: normal;
font-weight: 400;

    }
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 16px;
    svg{
        margin: 0;
    }
    h1{
        color: #1A1A1F;
text-align: center;
font-family: FiraGO;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
    }
}

.categoryList{
    position: absolute;
    padding: 8px;
    border-radius: 12px;
border: 1px solid #E4E3EB;
background: #FFF;
box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.08);
overflow-y: scroll;
margin-top: 4px;
height: 102px;
overflow-x: hidden;
width: 100%;
display: flex;
align-items: flex-start;
align-content: flex-start;
gap: 8px;
flex-wrap: wrap;
li{
    cursor: pointer;
white-space: nowrap;
list-style: none;
padding: 8px 16px;
border-radius: 30px;
display: inline;
}
}
.visibility{
    background-color: white;
    padding: 10px;
    z-index: 10;
    position: sticky;
    right: 0;
}
.visibility.ng-valid{
background: #F8FFF8;
}
.visibility.ng-invalid{
background: #FAF2F3;
}
.xButton{
    position: absolute;
    right: 20px;
    top: 20px;
}