<header>
  <img src="/assets/logo.svg" alt="" />
</header>
<main class="wrapper">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="44"
    height="44"
    viewBox="0 0 44 44"
    fill="none"
  >
    <rect width="44" height="44" rx="22" fill="#E4E3EB" />
    <path
      d="M18 23C18.5523 23 19 22.5523 19 22C19 21.4477 18.5523 21 18 21L18 23ZM17.1929 21.2929C16.8024 21.6834 16.8024 22.3166 17.1929 22.7071L23.5569 29.0711C23.9474 29.4616 24.5805 29.4616 24.9711 29.0711C25.3616 28.6805 25.3616 28.0474 24.9711 27.6569L19.3142 22L24.9711 16.3431C25.3616 15.9526 25.3616 15.3195 24.9711 14.9289C24.5805 14.5384 23.9474 14.5384 23.5569 14.9289L17.1929 21.2929ZM18 21L17.9 21L17.9 23L18 23L18 21Z"
      fill="#1A1A1F"
    />
  </svg>
  <div>
    <h1>ბლოგის დამატება</h1>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" action="">
      <div class="wrapper">
        <div class="div1">
          <p for="file">ატვირთეთ ფოტო</p>
          <div
            *ngIf="Photo == null"
            class="dropzone"
            appDrag
            (files)="fileDropped($event)"
          >
            <img src="assets/vuesax/bulk/vuesax/bulk/folder-add.svg" alt="" />
            <p>ჩააგდეთ ფაილი აქ ან <label for="file">აირჩიეთ ფაილი</label></p>
          </div>
          <div *ngIf="Photo" class="result">
            <div style="display: flex; gap: 12px; align-items: center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  opacity="0.4"
                  d="M22 7.81V13.9L20.37 12.5C19.59 11.83 18.33 11.83 17.55 12.5L13.39 16.07C12.61 16.74 11.35 16.74 10.57 16.07L10.23 15.79C9.52 15.17 8.39 15.11 7.59 15.65L2.67 18.95L2.56 19.03C2.19 18.23 2 17.28 2 16.19V7.81C2 4.17 4.17 2 7.81 2H16.19C19.83 2 22 4.17 22 7.81Z"
                  fill="#85858D"
                />
                <path
                  d="M9.00012 10.38C10.3146 10.38 11.3801 9.31444 11.3801 8C11.3801 6.68556 10.3146 5.62 9.00012 5.62C7.68568 5.62 6.62012 6.68556 6.62012 8C6.62012 9.31444 7.68568 10.38 9.00012 10.38Z"
                  fill="#85858D"
                />
                <path
                  d="M21.9996 13.9V16.19C21.9996 19.83 19.8296 22 16.1896 22H7.80957C5.25957 22 3.41957 20.93 2.55957 19.03L2.66957 18.95L7.58957 15.65C8.38957 15.11 9.51957 15.17 10.2296 15.79L10.5696 16.07C11.3496 16.74 12.6096 16.74 13.3896 16.07L17.5496 12.5C18.3296 11.83 19.5896 11.83 20.3696 12.5L21.9996 13.9Z"
                  fill="#85858D"
                />
              </svg>
              <p class="photoName">{{ Photo.file.name }}</p>
            </div>
            <svg
              (click)="dismiss()"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7.75781 16.2426L16.2431 7.75736"
                stroke="#1A1A1F"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16.2431 16.2426L7.75781 7.75736"
                stroke="#1A1A1F"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <input
            id="file"
            formControlName="image"
            (change)="fileSelected($event)"
            type="file"
          />
        </div>
        <div class="div2">
          <label for="author">ავტორი*</label>
          <input
            formControlName="author"
            id="author"
            type="text"
            placeholder="შეიყვანეთ ავტორი"
          />
          <ul>
            <li
              [ngClass]="
                myForm.get('author').hasError('minlength') &&
                myForm.get('author').touched
                  ? 'error-list'
                  : ''
              "
            >
              მინიმუმ 4 სიმბოლო
            </li>
            <li
              [ngClass]="
                myForm.get('author').hasError('atLeastTwoWords') &&
                myForm.get('author').touched
                  ? 'error-list'
                  : ''
              "
            >
              მინიმუმ ორი სიტყვა
            </li>
            <li
              [ngClass]="
                myForm.get('author').hasError('pattern') &&
                myForm.get('author').touched
                  ? 'error-list'
                  : ''
              "
            >
              მხოლოდ ქართული სიმბოლოები
            </li>
          </ul>
        </div>
        <div class="div3">
          <label for="">სათაური*</label>
          <input
            type="text"
            formControlName="title"
            placeholder="შეიყვანეთ სათაური"
          />
          <small>მინიმუმ 2 სიმბოლო</small>
        </div>
        <div class="div4">
          <label for="description">აღწერა*</label>
          <textarea formControlName="description" id="description"></textarea>
          <small>მინიმუმ 2 სიმბოლო</small>
        </div>
        <div class="div5">
          <label>გამოქვეყნების თარიღი*</label>
          <input type="date" formControlName="publish_date" id="date" />
        </div>
        <div class="div6">
          <label for="categories">კატეგორია*</label>
        </div>
        <div class="div7">
          <label for="email">ემაილი</label>
          <input type="email" formControlName="email" id="email" />
        </div>
      </div>
      <button class="btn">გამოქვეყნება</button>
    </form>
  </div>
</main>
