<form
  class="modal fade position-relative"
  (ngSubmit)="onSubmit()"
  [formGroup]="myForm"
  id="myModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <h4 class="modal-title text-center">შესვლა</h4>
      <svg
        style="cursor: pointer; position: absolute; top: 20px; right: 20px"
        data-bs-dismiss="modal"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M7.75732 16.2426L16.2426 7.75736"
          stroke="#1A1A1F"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M16.2426 16.2426L7.75732 7.75736"
          stroke="#1A1A1F"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <div class="modal-body">
        <label for="mail">ელ-ფოსტა</label>
        <input
          [ngClass]="{ 'invalid-input': !valid }"
          formControlName="email"
          type="email"
          id="email"
        />
        <small *ngIf="!myForm.get('email').valid && myForm.get('email').dirty">
          <img src="/assets/vuesax/linear/info-circle.svg" alt="" />
          <span>მეილი უნდა მთავრდებოდეს @redbery.ge-ით</span>
        </small>
        <small *ngIf="!valid">
          <img src="/assets/vuesax/linear/info-circle.svg" alt="" />
          <span>ელ-ფოსტა არ მოიძებნა</span>
        </small>
      </div>
      <button [disabled]="!myForm.get('email').valid" type="submit" class="btn">
        შესვლა
      </button>
    </div>
  </div>
</form>
