@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "FiraGO", sans-serif !important;
}
$font-family-base:"FiraGO", sans-serif !important;
body{
background-color: #FBFAFF;
}

main{
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 76px;
}
input,select{
    border-radius: 12px;
height: 44px;
outline: none;
padding-left: 16px;
}

.navigation{
    display: flex;
    gap: 24px;
    overflow-x: scroll ;
    max-width: 684px;
    padding-right: 22px;
    margin: 0 auto;
    margin-top: 64px;

}
