@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "FiraGO", sans-serif !important;
}
$font-family-base:"FiraGO", sans-serif !important;
body{
background-color: #FBFAFF;
}

main{
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 76px;
}
input,select{
    border-radius: 12px;
height: 44px;
outline: none;
padding-left: 16px;
}

.navigation{
    display: flex;
    gap: 24px;
    overflow-x: scroll ;
    max-width: 684px;
    padding-right: 22px;
    margin: 0 auto;
    margin-top: 64px;

}
.carousel-inner{
    display: flex;
    overflow: hidden;
}
.carousel-item {
	position: relative;
	display: none;
	 width: calc(100%/3); 
	  margin-right: 32px; 
	
}
// styles for new blog 


.error-list {
    color: #EA1919 !important;
    padding-left: 0;
  }
 
  
.div3{
   small{
    margin-top:8px;
   }
}
//   categories
.selection{
    ul{
        padding: 0;
        margin: 0;
        z-index: 10;
        position: relative;
    }
    p{
        margin: 0;
        margin-left: 16px !important;
    }
    max-width: 286px;
    overflow-x: auto;
    overflow-y: hidden;

    position: relative;
    color: #85858D;
    font-weight: 400;
    
    font-size: 14px;
    height: 44px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
align-items: center;
    border-radius: 12px;
    border: 1px solid #E4E3EB;
    background: #FCFCFD;
  
   
    
}
.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { display: flex; flex-direction: column; grid-area: 3 / 1 / 4 / 3; }
.div5 { grid-area: 4 / 1 / 5 / 2; }
.div6 { position: relative; grid-area: 4 / 2 / 5 / 3; }
.div7 { grid-area: 5 / 1 / 6 / 2; }
.div8 { grid-area: 5 / 2 / 6 / 3; }
input.ng-invalid.ng-dirty {
    border:1px solid #EA1919 !important;
    background-color: rgba(250, 242, 243, 1) !important;
}
input.ng-invalid.ng-touched {
    border:1px solid #EA1919 !important;
    background-color: rgba(250, 242, 243, 1) !important;
}
input.ng-valid.ng-pristine{

    border: 1px solid #E4E3EB;
    background-color: #FCFCFD;
 }
 
input.ng-valid.ng-touched{
   border: 1px solid rgba(20, 216, 28, 1) !important;
   background-color: #F8FFF8;
}
:host ::ng-deep .invalid-input {
    border: 1px solid #EA1919 !important;
    background-color: rgba(250, 242, 243, 1) !important;
  }
.selection.ng-valid{
    border: 1px solid #14D81C;
background: #F8FFF8;
}
.selection.ng-invalid {
    border:1px solid #EA1919 !important;
    background-color: rgba(250, 242, 243, 1) !important;
}
input.ng-invalid.ng-touched {
    border:1px solid #EA1919 !important;
    background-color: rgba(250, 242, 243, 1) !important;
}
  textarea.ng-invalid.ng-dirty {
    border:1px solid #EA1919 !important;
    background-color: rgba(250, 242, 243, 1) !important;
}
textarea.ng-invalid.ng-touched {
    border:1px solid #EA1919 !important;
    background-color: rgba(250, 242, 243, 1) !important;
}
textarea.ng-valid.ng-untouched{
   border: 1px solid rgba(20, 216, 28, 1) !important;
   background-color: #F8FFF8;
}
textarea.ng-valid.ng-touched{
   border: 1px solid rgba(20, 216, 28, 1) !important;
   background-color: #F8FFF8;
}
:host ::ng-deep .invalid-input {
    border: 1px solid #EA1919 !important;
    background-color: rgba(250, 242, 243, 1) !important;
  }
  textarea{
    outline: none;
    padding: 16px;
  }