<app-header></app-header>
<main class="wrapper">
  <section>
    <h2>ბლოგი</h2>
    <img src="/assets/blog.png" alt="" />
  </section>
  <nav class="navigation">
    <ng-container>
      <p
        class="categoryTitle"
        *ngFor="let item of categories; let i = index"
        [ngStyle]="{
          'background-color': item.background_color,
          color: item.text_color,
        }"
        [ngClass]="{ selected: isSelected(i) }"
        (click)="toggleBorder(i)"
      >
        {{ item.title }}
      </p>
    </ng-container>
  </nav>
  <article>
    <app-article *ngFor="let item of posts" [item]="item"></app-article>
  </article>
</main>

<app-modal></app-modal>
