<header>
  <img src="/assets/logo.svg" alt="" />
  <button
    class="btn"
    *ngIf="!isLoggedIn"
    data-bs-toggle="modal"
    data-bs-target="#myModal"
  >
    შესვლა
  </button>
  <button class="btn" *ngIf="isLoggedIn" (click)="navigate()">
    ბლოგის დამატება
  </button>
</header>
<main class="wrapper">
  <section>
    <h2>ბლოგი</h2>
    <img src="/assets/blog.png" alt="" />
  </section>
  <nav class="navigation">
    <ng-container>
      <p
        class="navigationP"
        *ngFor="let item of categories"
        [ngStyle]="{
          'background-color': item.background_color,
          color: item.text_color,
        }"
      >
        {{ item.title }}
      </p>
    </ng-container>
  </nav>
</main>

<app-modal></app-modal>
