

header{
display: flex;
justify-content: space-between;
align-items: center;
padding:28px 76px;
background-color: white;
    button{
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        background: #5D37F3;
        color: #FFF;
        font-family: FiraGO;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        cursor: pointer;
        
    }
}
main{
    section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 89px 76px;
        h2{
            color: #1A1A1F;
font-family: FiraGO;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 72px; /* 112.5% */
        }
    }
}

  